$font1: 'Fraunces', serif;
$font2: 'Montserrat', sans-serif;
$primary-color1: hsl(30, 38%, 92%);
$primary-color2: hsl(158, 36%, 37%);
$cardBg: hsl(0, 0%, 100%);
$fontColor1: hsl(212, 21%, 14%);
$fontColor2: hsl(228, 12%, 48%);
$onHover: #1a4031;